.advantages {
  padding-top: 1px;
}

.advantages__title-1 {
  margin-top: 7px;
  margin-bottom: 41px;
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;

  &::before {
    content: "";
    display: inline-block;
    vertical-align: top;
    flex-shrink: 0;
    margin-right: 20px;
    width: 60px;
    height: 60px;
    background-color: @primary;
    background-repeat: no-repeat;
  }
}

.advantages__item_icon_nutritional {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-position: center center;
  }
}

.advantages__item_icon_flour {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-position: center center;
  }
}

.advantages__item_icon_swap {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-position: center center;
  }
}

.advantages__item_icon_time {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-position: center center;
  }
}

.advantages__paragraph-1 {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 0;
  z-index: 1;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    counter-reset: advantage;
    display: flex;
    flex-wrap: wrap;
    margin-left: -60px;
    margin-bottom: -30px;
  }

  .advantages__item {
    width: calc(50% - 60px);
    margin-bottom: 130px;
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    &::before {
      margin-bottom: 35px;
      width: 80px;
      height: 80px;
    }

    &::after {
      position: absolute;
      counter-increment: advantage;
      content: counter(advantage);
      font-size: 281px;
      line-height: 281px;
      color: @bg-gray;
      .oswald-regular ();
      margin-left: 118px;
      margin-top: -40px;
      z-index: 0;
    }
  }

  .advantages__title-1 {
    margin-top: 15px;
    margin-bottom: 70px;
  }

  .advantages__paragraph-1 {
    max-width: 245px;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    margin-left: -80px;
  }

  .advantages__item {
    margin-left: 80px;
    width: calc(25% - 240px);
    margin-bottom: 130px;
  }
}
