.categories-review {

}

.categories-review__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.categories-review__item {
  margin: 0;
  margin-bottom: 20px;
  padding: 6px 25px 20px 20px;
  background-color: @bg-gray;
}

.categories-review__title-2 {
  margin-left: 70px;
  margin-bottom: 30px;
  position: relative;
}

.categories-review__title-2_slim-icon {
  &::before {
    content: "";
    position: absolute;
    padding: 20px;
    width: 67px;
    height: 50px;
    left: -70px;
    top: -7px;
    z-index: 3;
    background: url("../img/icon-cat-slim.svg"), radial-gradient(circle closest-side, @primary 24px, transparent 25px);
    background-size: 35px 49px, 50px 50px;
    background-repeat: no-repeat;
    background-position: 8px 0, 0 3px;
  }
}

.categories-review__title-2_pro-icon {
  &::before {
    content: "";
    position: absolute;
    padding: 20px;
    width: 67px;
    height: 50px;
    left: -78px;
    top: -5px;
    z-index: 3;
    background: url("../img/icon-cat-pro.svg"), radial-gradient(circle closest-side, @primary 24px, transparent 25px);
    background-size: 67px 28px, 50px 50px;
    background-repeat: no-repeat;
    background-position: 0 11px, 8px 0;
  }
}

.categories-review__catalog-link {
  text-decoration: none;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-left: 12px;
    margin-top: 5px;
    width: 25px;
    height: 11px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }
}

.categories-review__paragraph-1 {
  border-bottom: 1px solid @line-gray;
  padding-bottom: 23px;
  margin-bottom: 16px;
}

@media (min-width: @tablet-width) {
  .categories-review__item {
    padding: 42px 25px 58px 50px;
    margin-bottom: 30px;
  }

  .categories-review__title-2 {
    margin-left: 0;
    margin-right: 265px;
    margin-bottom: 24px;
    position: relative;
  }

  .categories-review__paragraph-1 {
    margin-right: 313px;
    margin-bottom: 34px;
    border-bottom: none;
  }

  .categories-review__catalog-link::after {
    margin-left: 24px;
  }

  .categories-review__title-2_slim-icon {
    &::before {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      padding: 20px;
      width: 200px;
      height: 212px;
      right: -236px;
      top: -5px;
      z-index: 3;
      background: url("../img/icon-cat-slim.svg"), radial-gradient(circle closest-side, @primary 99px, transparent 100px);
      background-size: 140px 194px, 200px 200px;
      background-repeat: no-repeat;
      background-position: 8px 0, 0 3px;
    }
  }

  .categories-review__title-2_pro-icon {
    &::before {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      padding: 20px;
      width: 268px;
      height: 200px;
      right: -268px;
      top: -5px;
      z-index: 3;
      background: url("../img/icon-cat-pro.svg"), radial-gradient(circle closest-side, @primary 99px, transparent 100px);
      background-size: 268px 112px, 200px 200px;
      background-repeat: no-repeat;
      background-position: 0 44px, 36px 0;
    }
  }
}

@media (min-width: @desktop-width) {
  .categories-review__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -80px;
  }

  .categories-review__item {
    display: inline-block;
    width: calc(50% - 80px);
    padding: 40px 50px 60px 50px;
    margin-left: 80px;
  }

  .categories-review__title-2 {
    margin-left: 162px;
    margin-right: 0;
    margin-bottom: 70px;
    position: relative;
  }

  .categories-review__paragraph-1 {
    margin-right: 0;
  }

  .categories-review__title-2_slim-icon {
    &::after {
      display: none;
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      padding: 20px;
      width: 100px;
      height: 106px;
      left: -168px;
      top: -30px;
      z-index: 3;
      background: url("../img/icon-cat-slim.svg"), radial-gradient(circle closest-side, @primary 49px, transparent 50px);
      background-size: 70px 97px, 100px 100px;
      background-repeat: no-repeat;
      background-position: 14px 0, 0 6px;
    }
  }

  .categories-review__title-2_pro-icon {
    &::after {
      display: none;
    }

    &::before {
      display: block;
      content: "";
      position: absolute;
      padding: 20px;
      width: 134px;
      height: 100px;
      left: -168px;
      top: -30px;
      z-index: 3;
      background: url("../img/icon-cat-pro.svg"), radial-gradient(circle closest-side, @primary 49px, transparent 50px);
      background-size: 134px 56px, 100px 100px;
      background-repeat: no-repeat;
      background-position: 0 22px, 18px 0;
    }
  }
}
