.first-screen {
  padding-top: 2px;
  padding-bottom: 20px;
  background-image: url("../img/index-background-mobile@1x.jpg"), linear-gradient(#63a73a 305px, #ffffff 305px);
  background-size: 320px 305px, contain;
  background-position: top center, 0 0;
  background-repeat: no-repeat;
  background-color: #ffffff;
}

.first-screen__product-illustration {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 280px;
  height: 271px;
}
