.page-footer {
  background-color: @bg-gray;
  display: flex;
  flex-direction: column;
}

.page-footer__logo-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid @line-gray;
  text-align: center;
}

.page-footer__logo {
  display: inline-block;
  vertical-align: top;
}

.page-footer__logo-name {
  width: 128px;
  height: 24px;
}

.social {
  display: flex;
  align-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid @line-gray;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social__item {
  margin-left: 40px;

  &:first-child {
    margin-left: 0;
  }
}

.social__link {
  text-decoration: none;
}

.social__svg {
  fill: @black-6;
}

.page-footer__copyright-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.page-footer__paragraph-0 {
  text-decoration: none;
}

.page-footer__developer-logo {
  fill: @black-6;
  width: 27px;
  height: 34px;
}
