.page-header {
  padding: 11px 0 16px 0;
  background-color: #ffffff;
}

.page-header__wrapper {
  display: flex;
  flex-direction: row;
}

.page-header__logo-link {
  display: inline-block;
  text-decoration: none;
  height: 38px;
  vertical-align: top;
  margin-right: auto;
}

.page-header__logo-picture {
  width: 191px;
  height: 38px;
}

.page-header__menu-button {
  display: inline-block;
  margin-left: auto;
  padding: 0;
  margin-top: 12px;
  border: none;
  cursor: pointer;
  width: 24px;
  height: 18px;
  background-color: #ffffff;
}

.page-header__main-nav {
  display: none;
}
