.paragraph-lead {
  text-transform: uppercase;
  .oswald-regular ();
  font-size: 14px;
  line-height: 18px;
}

@media (min-width: @tablet-width) {
  .paragraph-lead {
    font-size: 20px;
    line-height: 20px;
  }
}
