.primary-button {
  background-color: @primary;
  color: #ffffff;
  .oswald-regular ();
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  border: 0;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
}

@media (min-width: @tablet-width) {
  .primary-button {
    font-size: 20px;
    line-height: 20px;
    padding: 12px 25px 14px 25px;
  }
}

.primary-button_gray {
  color: @black-4;
  background-color: @bg-gray;
}
