.product-card__info-wrapper {
  width: 100%;
}

.product-card__image {
  width: 140px;
  height: 144px;
}

.product-card__product-brand {
  display: block;
}

.product-card__table-features {
  width: 100%;
}

.product-card__plus-image {
  display: block;
  margin: 20px auto;
  fill: @black-2;
  opacity: 0.2;
}
